#title-text {
    text-align: center;
    text-decoration: underline #3b82f6;
    text-underline-offset: 30%;
    font-weight: bold;
    color: #FFF;
}

#subtitle-text {
    text-align: center;
    font-weight: bold;
    color: #FFF;
}

#skills-box {
    background-color: #4A525A;
    margin: 0px 20px;
    padding: 10px;
    border-radius: 15px;
}

#skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.skill-card {
    margin: 0 5px;
    padding: 2px;
    background-color: slategrey;
    border-radius: 10px;
    /*box-shadow: 3px 3px 2px black;*/
}