#title-text {
    text-align: center;
    text-decoration: underline #3b82f6;
    text-underline-offset: 30%;
    font-weight: bold;
    color: #FFF;
}

#skills-box {
    background-color: slategrey;
    margin: 0px 200px;
    padding: 10px;
    border-radius: 15px;
}

#skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;
}