#main-page {
    position: absolute;
    top: 30%;
    width: 100%;
}

#main-page-text {
    color: #fff;
    text-align: center;

}

#main-page-title-text {
    color: #fff;
    text-decoration: underline #3b82f6;
    text-underline-offset: 30%;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}